.timer {
    display: inline-block;
    font-size: 2em;
}

.label {
    display: block;
    color: #45606d;
    font-size: 0.5em;
    line-height: 1;
    margin-bottom: 0.5em;
}

.value {
    display: block;
    font-size: 1em;
    line-height: 1;
    font-variant-numeric: tabular-nums;
}

:global(body.dark) .label {
    color: #bfd4df;
}
