@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

b,
strong,
th {
  font-weight: 600;
}

a {
  color: #11a4d3;
}

hr {
  background-color: #a6a6a6;
  height: 1px;
  border: 0;
}

body,
input {
  font-size: 17px;
  line-height: 1.59;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

body {
  word-break: keep-all;
}
